/* * {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
} */
/* * {
  border: 2 px solid rgb(0, 0, 0);
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-size: 22px; */
  background-color: rgb(247, 247, 247);
  /* min-height: 100vh; */
}
/* .first {
  font-style: italic;
  color: #0a44ff;
  font-size: 1.7ric;
  width: 35ch;
}

h1 {
  /* border: 4px solid royalblue; */
/* width: 50%;
  border: 3px dashed rgb(0, 255, 0);
  align-items: center;
  color: hsl(267, 100%, 50%);
  font-size: 2rem;
  padding: 0.2em;
}
h2 {
  align: center;
  color: hsla(0, 0%, 50%, 0.9);
}
.second {
  color: blueviolet;
  color: #1cc32f;
  font-style: italic;
  font-size: 1.3rem;
  width: 50%;
}
.highlight {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 0, 4);
  font-family: monospace;
  font-size: 30px;
}
.box {
  font-size: 1.4em;
  color: rgb(200, 150, 50);
  background-color: blue;
} */
/* second phase */

/* third phase */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: white;
}

.navBar {
  height: 60px;
  background-color: #0f1111;
}
#logo {
  color: #f08804;
  margin-right: 100px;
  font-size: 25px;
}
.acc {
  margin-top: 0px;
}
a {
  margin-right: 200px;
  text-decoration: none;
}

button {
  background-color: #f08804;
}
input {
  color: #000;
}
.light {
  background-color: #5a3939;
  width: 250px;
  height: 400px;
}

.red {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  margin-left: 65px;
  margin-bottom: 20px;
}
.green {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: greenyellow;
  margin-left: 65px;
  margin-bottom: 20px;
}
.blue {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: blue;
  margin-left: 65px;
  margin-top: 20px;
}
